#form{
    width: 450px;
    height: 300px;
    background: #cdd4c5;
    margin: auto;
    text-align: center;
}
.block{
    width: 400px;
}
label{
    width: 100px;
    text-align: right;
    display: inline-block;
}
input{
    vertical-align: top;
}
form{
    position: relative;
    top: 100px;
}
