<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>主页</title>
    <link rel="stylesheet" href="main.css" type="text/css"/>
    <script src="main.js"></script>
</head>
<body>
<p>
    <img src="../KH.png"/>
    信息存储中心
</p>
<hr>
<p id="accessOn">用户：{{ labelUserName }}</p>
<div id="play">
    <ul>
        {% for item in keySet %}
        <li>{{ item }}: {{list['item']}}</li>
        {% endfor %}
    </ul>
    <input class="a" type="submit" value="退出登录">
</div>
<hr>
<form id="find">
    <label for="other">查询：</label>
    <input type="text" id="other" name="other">
    <input type="submit" value="提交">
</form>
<ul>
    <li>姓名：{{otherName}}</li>
    <li>性别：{{otherSex}}</li>
    <li>民族：{{otherNationality}}</li>
    <li>国家：{{otherCountry}}</li>
</ul>
<hr>
<form id="theForm">
    <label for="name">姓名：</label>
    <input type="text" id="name" name="name">
    <br>
    <label for="sex">性别：</label>
    <input type="text" id="sex" name="sex">
    <br>
    <label for="nationality">民族：</label>
    <input type="text" id="nationality" name="nationality">
    <br>
    <label for="country">国家：</label>
    <input type="text" id="country" name="country">
</form>
<button onclick="add()">添加</button>
<input type="submit" value="保存">
<input type="submit" value="取消">
<hr>
<form>
    {% for item in users %}
    <input type="checkbox" name="user" value="xx">item
    {% endfor %}
    <br>
    <input type="submit" value="提交">
    <input type="submit" value="取消">
</form>
</body>
</html>