<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>主页</title>
    <link rel="stylesheet" href="main.css" type="text/css"/>
</head>
<body>
<p>
    <img src="../KH.png"/>
    信息存储中心
</p>
<hr>
<p id="accessOn">用户：{{ labelUserName }}</p>
<form id="play">
    勾选项为当前所选用户可查看信息<br>
    {% for key,value in dicts.items %}
    <label><input type="checkbox" id="django{{key}}">{{ key }}: {{value}}</label><br>
    {% endfor %}
    <br>
    <label>选择用户<select>
        {% for name in userList %}
        <option value="djangoUser{{name}}">name</option>
        {% endfor %}
    </select></label>
    <input class="a" type="submit" value="确认">
    <input type="submit" value="确认修改">
</form>
<hr>
<form id="find">
    <label for="other">查询：</label>
    <input type="text" id="other" name="other">
    <input type="submit" value="提交">
</form>
{% for key,value in otherDicts.items %}
{{ key }}: {{value}}<br>
{% endfor %}
<hr>
<form id="addForm">
    修改或添加信息<br>
    <input type="text" id="otherKey" name="otherKey">:<input type="text" id="otherValue" name="otherValue">
    <input type="submit" value="添加">
</form>
</body>
</html>