<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>主页</title>
    <link rel="stylesheet" href="main.css" type="text/css"/>
</head>
<body>
<p>
    <img src="../KH.png"/>
    信息存储中心
</p>
<hr>
<p id="accessOn">用户：{{ labelUserName }}</p>
<form id="play">
    {% for key,value in dicts.items %}
    <label><input type="checkbox" id="django{{key}}">{{ key }}: {{value}}</label><br>
    {% endfor %}
    <br>
    <label>选择用户<select>
        {% for name in userList %}
        <option value="djangoUser{{name}}">name</option>
        {% endfor %}
    </select></label>
    <input class="a" type="submit" value="退出登录">
</form>
<hr>
<form id="find">
    <label for="other">查询：</label>
    <input type="text" id="other" name="other">
    <input type="submit" value="提交">
</form>
{% for key,value in otherDicts.items %}
{{ key }}: {{value}}<br>
{% endfor %}
<hr>
<form id="theForm">
    <label for="name">姓名：</label>
    <input type="text" id="name" name="name">
    <br>
    <label for="sex">性别：</label>
    <input type="text" id="sex" name="sex">
    <br>
    <label for="nationality">民族：</label>
    <input type="text" id="nationality" name="nationality">
    <br>
    <label for="country">国家：</label>
    <input type="text" id="country" name="country">
    <input type="submit" value="保存全部">
</form>
<hr>
<form id="addForm">
    <input type="text" id="otherKey" name="otherKey">:<input type="text" id="otherValue" name="otherValue">
    <input type="submit" value="添加">
</form>
</body>
</html>